header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.4em solid #61dafbaa;
  background: #fafbba;
}
.logo {
  height: 120px;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.time {
  color: #77a05f;
  font-size: large;
}
